.content-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .content-container-category-title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #838383;
        padding-left: 10px;
    }

    .content-container-list {
        width: 1110px;
        display: flex;
        flex-wrap: wrap;
    }
}
