.count-container {
    display: flex;
    flex-direction: row;
    padding-top: 7px;

    .count-down, .count-up {
        width: 35px;
        height: 30px;
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    }

    .count-down {
        margin-left: 17px;
        margin-bottom: 17px;
    }

    .count-up {
        margin-left: 23px;
    }

    .count-value { 
        margin-left: 23px;

        .count-value-span {
            font-size: 17px;
            font-weight: 600;
            line-height: 20px;
        }
    }
}

