.cart-product-container {
    display: flex;
    width: 633px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: #FFFFFF;

    .cart-product-image-and-count {
        display: flex;
        flex-direction: column;

        .cart-product-image {
            padding-top: 18px;
            padding-left: 18px;
            
            .item-image {
                width: 146px;
                height: 140px;
            }
        }
    }

    .cart-product-title-and-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 23px;
        width: 366px;

        .cart-product-prices {
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
        }

        .cart-product-prices {
            padding-top: 12px;

            .cart-product-price {
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #AAAAAA;
            }
        }
    }

    .cart-product-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cart-product-price {
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #1C1C27;
            padding-bottom: 21px;
        }
    }
}